<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Create a Huddle">
  <ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <br class="padding-top">
  <br>
  <div class="list">
    <label class="item item-input">
      <input class="input" ng-model="name" type="text" placeholder="Huddle Name">
    </label>
    <label class="item item-input">
      <div class="desc">
        <textarea class="input" ng-model="description" placeholder="Description"></textarea>
      </div>
    </label>
    <label class="item item-input">
      <input class="input" ng-model="location" type="text" placeholder="Location?">
    </label>
  </div>
  <div class="container">
    <label class="grey numberOfPeople">Number of People?</label>
    <div class="button-bar">
      <div>
        <div class = "my_center">
          <a ng-click="decrementPeople()" class="button button-positive button-small button-outline my-button">-</a>
        </div>
        <div class = "my_center">
            <input ng-model="numberOfPeople" ng-init="numberOfPeople=1" min="1" class="input-mini num-of-people" type="number" ng-bind="numberOfPeople">
        </div>
        <div class = "my_center">
          <a ng-click="numberOfPeople = numberOfPeople + 1" class="button button-positive button-small button-outline my_button">+</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <label class="grey huddleTypes">Huddle Type?</label>
    <div class="button-group">
      <ion-radio ng-repeat="type in huddleTypes"
                           ng-value="type"
                           ng-model="huddleType"
                           ng-change="updateHuddleType($index)"
                           class="button button-positive button-small button-outline"
                           name="radio1">
                  {{ type }}
      </ion-radio>
    </div>
  </div>
  <div class="container">
    <label class="grey numberOfPeople">Huddle Time: {{expirationTime}}</label>
    <div class="item range range-positive">
      <span>{{hours}}</span>
      <input type="range" name="hours" ng-change="updateExpirationTime()" min="1" max="24" ng-model="hours" ng-init="hours = 12">
      <span>24 hours</span>
    </div>
  </div>
  <div class = "letshuddle">
    <button ng-click="createHuddle()" class="button button-full button-positive create">Create Huddle!</button>
  </div>  
</ion-view>
