<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Filter Huddle">
  <ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <br class="padding-top">
  <br>
  <div class="container">
    <label class="grey huddleTypes">Pair or Group?</label>
    <div class="button-group">
      <ion-radio ng-repeat="option in options"
                           ng-value="option"
                           ng-model="pairOrGroup"
                           ng-change="updateOption($index)"
                           class="button button-positive button-small button-outline"
                           name="radio2">
                  {{ option }}
      </ion-radio>
    </div>
    <br>
  </div>
  <div class="container">
    <label class="grey huddleTypes">Huddle Type?</label>
    <div class="button-group">
      <ion-radio ng-repeat="type in huddleTypes"
                           ng-value="type"
                           ng-model="huddleType"
                           ng-change="updateHuddleType($index)"
                           class="button button-positive button-small button-outline"
                           name="radio1">
                  {{ type }}
      </ion-radio>
    </div>
    <br>
  </div>  <br><br>
  <div class = "letshuddle">
    <button ng-click="filterHuddles()" class="button button-full button-positive create">Filter Huddles</button>
  </div>  
</ion-view>
