<span>hello</span>
<ion-view>
<ion-nav-title>
    <div class="bar bar-header">
        <button class="button button-icon icon ion-ios-search-strong"></button>
        <button class="button button-icon icon ion-ios-compose-outline"></button>
    </div>
    <div align="center">
        <span class="header-logo"><img src="img/HuddleLogo.png" width="70" alt="Huddle"/></span>
    </div>
</ion-nav-title>
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="(key, value) in huddles" type="item-text-wrap" href="#/huddle/{{value._id}}">
        <img ng-src="{{value.ownerSpiritAnimal}}" height="30" style="float:left">
        <label class="timeline">{{value.ownerInitials}}</label>
        <h2 class="title">{{value.name}}</h2>
        <p class="nobreak">{{value.location}}</p>
          <p class="right" align="right">{{value.lifeTime}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
