.nobreak {
    display:inline;
}
.title {
    font-size: 30px;
    color: #5d72ff;
}

.desc {
    width: 100%;
    margin: 0 auto;
    padding-top: 3px;
}
.location {
    display:inline;
    font-size: 16px;
    color: #5d72ff;
    padding-left:10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.description {
    padding-left: 10px;
}

input[type="number"] {
    text-align: center;
    width: 50px;
    font-size:20px;
}

.next-to {
    float: left;
}

.button-bar {
    width: 184px;
    margin: 0 auto;
}

.my_center {
    float: left;
    margin: 0 auto;
}

.button-group {
    width: 450px;
    margin: 0 auto;
    margin-top: 15px;
}

.my_button {
    border-radius: 5px;
    width: 30px;
    margin: 0 auto;
}
.view-title {
    font-size:20px;
}
input { 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.input, input[type="text"], .grey  {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size:20px;
  color: #387ef5;
  height:70px;
}
.item-radio .item-content {
    width: 180px;
    font-size: 20px;
    text-align: center;
    padding: 8px;
}

.button.button-positive.button-outline {
    border-color: #387ef5;
    background: transparent;
    color: #387ef5;
    margin-bottom: 15px;
    margin-right: 10px;
}

.buffer {
    height: 100px;
}

.letshuddle {
    width: 70%;
    margin: 0 auto;
}

.mid-text {
    color: #C7C7C7;
    margin: 0 auto;
}

.login {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 7px;
    border-radius: 10px;
}

.center {
    margin: 0 auto;
    width: 50%;
}

.login2 {
    width: 50%;
    float: left;
    margin: 0 auto;
    margin-bottom: 7px;
    border-radius: 10px;
}

.login3 {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 7px;
    border-radius: 10px;
}

.create {
    border-radius: 8px;
    color: #5d72ff;

}

.pad {
    margin-top: 6px;
    margin-bottom: 6px;
}

.wide {
    width:100%;
}
.right {
    float:right;
}
.title {
    color: #5d72ff;
}

.timeline {
    float: left;
    position: absolute;
    top: 48px;
    left: 23px;
    font-size:12px;
}

.huddle-details-title {
    padding-left: 10px;
    font-size: 35px;
    color: #5d72ff;
}

.grey {
    padding: 17px;
}

textarea {
    height:100px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
   color: #387ef5;
}

img {
    padding-right: 10px;
}

.container {
    border-bottom: 1px solid #C7C7C7;
    margin-top: 10px;
}

.range {
    border:none;
}